<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
      .portfolio_element{
        border-radius: 0.5rem;
        transition-timing-function: linear;
        transition-duration: .3s;
      }
      a:hover img {
        border-radius: 1.5rem;
      }
    </style>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165620962-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165620962-1');
    </script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description }}</p>
        
        <p class="view">
          {{ site.mywork }}

          {% if site.instagram %}
            </br> <a href="{{ site.instagram }}">Instagram</a>
          {% endif %}
          {% if site.behance %}
            </br> <a href="{{ site.behance }}">Behance</a>
          {% endif %}
          {% if site.mailto %}
            </br> <a href="{{ site.mailto }}">Mail</a>
          {% endif %}

        </p>

      </header>
      <section>

      {{ content }}

      <div>
        <a href="https://runflexio.catagama.com">
          <img src="img/runflexio.jpg" alt="runflexio" class="portfolio_element">
        </a>
      </div>

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
